<section class="about-me">
  <h1>About Me</h1>
    <span>
      <img src="{% gravatar_image 150 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
    </span>
    <p>
      Ruby and JavaScript programmer. Senior Backend Developer @Liefery. I like sharing my knowledge about programming and helping people. I sometimes speak at conferences and meetups.
    </p>
    <a href="https://twitter.com/niedzielskiadam" class="action-button" target="_blank">Follow me on Twitter</a>
</section>
