<section class="about-me">
  <h1>About Me</h1>
    <span>
      <img src="{% gravatar_image 150 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
    </span>
    <p>
      I'm an entrepreneur solving business problems with amazing web applications. I program in Ruby and JavaScript. I love high quality code, open source and mentoring. I run <a href="http://check.sundaycoding.com" target="_blank">Codebase Health Check</a>.
    </p>
    <a href="http://www.sundaycoding.com" class="action-button">Hire me!</a>
</section>
