<section class="about-me">
  <h1>About Me</h1>
    <span>
      <img src="{% gravatar_image 150 %}" alt="Gravatar of {{ site.author}} " title="Gravatar of {{ site.author }}" />
    </span>
    <p>
      Web developer and consultant based in Lodz, Poland. Programming in Ruby and JavaScript. CEO <a href="http://www.sundaycoding.com" target="_blank">@SundayCoding</a> - "one-man web development shop". Loves high quality code, open source and mentoring.
    </p>
    <a href="http://www.sundaycoding.com" class="action-button">Hire me!</a>
</section>
