@import "compass";
@include global-reset;

@import "custom/colors";
@import "custom/fonts";
@import "custom/layout";
@import "base";
@import "partials";
@import "plugins/**/*";
@import "custom/styles";

section.about-me {

  p {
    font-size: 1.2em;
  }

  img {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.offer-below-post {
  font-weight: bold;
  font-size: 1.7em;
}

.action-button {

  &, &:hover {
    font-size: 20px;
    color: #F8F8F8 !important;
    text-shadow: none;
    text-decoration: none;
    padding: 10px 25px;
    @include border-radius(4px, 4px);
    display: inline-block;
    text-align: center;
    font-weight: bold;
  }

  & {
    background: none repeat scroll 0 0 lighten(#085100, 5);
  }

  &:hover {
    background: none repeat scroll 0 0 #085100;
  }
}

.highlight-box {
  border: 2px solid #085100;
  border-radius: 20px;
  padding: 20px;
  margin: 30px 0;
  font-size: 20px;
  font-weight: bold;
}
