// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

section.about-me {

  p {
    font-size: 1.2em;
  }

  img {
    margin-top: 10px;
    margin-left: 20px;
  }

  a.twitter {

    &, &:hover {
      font-size: 1.5em;     
      color: #F8F8F8;
      text-shadow: none;
      text-decoration: none;
      padding: 7px;
      @include border-radius(4px, 4px);
    }

    & {
      background: none repeat scroll 0 0 lighten(#085100, 5);
    }

    &:hover {
      background: none repeat scroll 0 0 #085100;
    }
  }
}
